/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary

/benchmarks/capnp/**    linguist-vendored
/benchmarks/protobuf/** linguist-vendored

**/fixtures/**   linguist-generated
**/generated/**  linguist-generated
