/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary

/benchmark/capnp/**    linguist-vendored
/benchmark/protobuf/** linguist-vendored

**/fixtures/**   linguist-generated
**/generated/**  linguist-generated
