name: CodSpeed

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  codspeed:
    strategy:
      fail-fast: true
      matrix:
        test-file:
          - benchmarks/codspeed-primitive-encode.ts
          - benchmarks/codspeed-primitive-decode.ts
          - benchmarks/codspeed-complex-encode.ts
          - benchmarks/codspeed-complex-decode.ts
    name: Run CodSpeed benchmarks
    runs-on: ubuntu-latest
    permissions:
      contents: read # required for actions/checkout
      id-token: write # required for OIDC authentication with CodSpeed
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: yarn

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: node ${{ matrix.test-file }}
